<li><a href="~/Reports/Stats">Statistics</a></li>
<li><a href="~/CourtHearing/List?ProductionDate=@DateTime.Now.ToString("dd-MMM-yyyy")">Daily Court Productions</a></li>
<li><a href="~/Reports/AdmissionDiary">Admission Diary</a></li>
<li><a href="~/Reports/ReleaseDiary">Release Diary</a></li>
<li><a href="~/Reports/Juveniles">Juvenile Prisoners</a></li>
<li><a href="~/Reports/Females">Female Prisoners</a></li>
<li><a href="~/Reports/AdmittedPrisoners">All Admitted Prisoners</a></li>
<li><a href="~/Reports/ReleasedPrisoners">All Released Prisoners</a></li>
<li><a href="~/Reports/AllPrisoners">All Prisoners</a></li>
<li><a href="~/Reports/Visitors">Visitors Diary</a></li>
<li><a href="~/Reports/PrisonersHealth">Health Report</a></li>



